[mysqld]
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address=gcomm://172.17.0.10,172.17.0.11,172.17.0.12
wsrep_provider_options="gcache.size=1G"
wsrep_on=ON
wsrep_cluster_name=galera_cluster
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
query_cache_size=0

